# Applied Data Science Capstone Assignment 2 :Segmenting and Clustering Neighborhoods in Toronto

In [37]:
# Import necessary libraries

import requests
import lxml.html as lh
import pandas as pd

In [38]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [39]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

#### This means that there are 3 columns per row

In [40]:
# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighborhood
"

#### Creating Pandas DataFrame
### Each header is appended to a tuple along with an empty list.

In [41]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [42]:
# Check the length of each column. Ideally, they should all be the same
[len(C) for (title,C) in col]

[181, 181, 181]

##### This shows that each of the 3 columns has exactly 181 rows

### Creating the pandas data frame

In [43]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [44]:
# Access the top 5 rows of the data frame 
df.head()

  Postal Code\n           Borough\n               Neighborhood\n
0         M1A\n      Not assigned\n               Not assigned\n
1         M2A\n      Not assigned\n               Not assigned\n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [30]:
df.columns = ['Borough', 'Neighbourhood','Postcode']

cols = df.columns.tolist()
cols

cols = cols[-1:] + cols[:-1]

df = df[cols]

df.head()

                      Postcode Borough       Neighbourhood
0               Not assigned\n   M1A\n      Not assigned\n
1               Not assigned\n   M2A\n      Not assigned\n
2                  Parkwoods\n   M3A\n        North York\n
3           Victoria Village\n   M4A\n        North York\n
4  Regent Park, Harbourfront\n   M5A\n  Downtown Toronto\n

In [56]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postal Code\n          Borough\n              Neighborhood\n
0          M1A       Not assigned                Not assigned
1          M2A       Not assigned                Not assigned
2          M3A         North York                   Parkwoods
3          M4A         North York            Victoria Village
4          M5A   Downtown Toronto   Regent Park, Harbourfront

In [57]:
cols[-1:]

['Neighbourhood']

In [58]:
cols[:-1]

['Postcode', 'Borough']

### Cleaning the messy string in the Borough column

In [59]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postal Code\n          Borough\n              Neighborhood\n
0          M1A       Not assigned                Not assigned
1          M2A       Not assigned                Not assigned
2          M3A         North York                   Parkwoods
3          M4A         North York            Victoria Village
4          M5A   Downtown Toronto   Regent Park, Harbourfront

#### Dropping all cells with a borough that is Not assigned

In [62]:
df.rename(columns = {'Postal Code\n':'Postal Code','Borough\n':'Borough','Neighborhood\n':'Neighbourhood'}, inplace = True)

In [63]:
df.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

In [65]:
df['Borough'].unique

<bound method Series.unique of 0               Not assigned
1               Not assigned
2                 North York
3                 North York
4           Downtown Toronto
5                 North York
6           Downtown Toronto
7               Not assigned
8                  Etobicoke
9                Scarborough
10              Not assigned
11                North York
12                 East York
13          Downtown Toronto
14                North York
15              Not assigned
16              Not assigned
17                 Etobicoke
18               Scarborough
19              Not assigned
20                North York
21                 East York
22          Downtown Toronto
23                      York
24              Not assigned
25              Not assigned
26                 Etobicoke
27               Scarborough
28              Not assigned
29              Not assigned
                ...
151                Etobicoke
152                Etobicoke
153              Scarborough
154             Not assigned
155             Not assigned
156         Downtown Toronto
157         Downtown Toronto
158             Not assigned
159             Not assigned
160                Etobicoke
161             Not assigned
162             Not assigned
163             Not assigned
164             Not assigned
165         Downtown Toronto
166             Not assigned
167             Not assigned
168             East Toronto
169                Etobicoke
170             Not assigned
171             Not assigned
172             Not assigned
173             Not assigned
174             Not assigned
175             Not assigned
176             Not assigned
177             Not assigned
178                Etobicoke
179             Not assigned
180    Canadian postal codes
Name: Borough, Length: 181, dtype: object>

In [66]:
df.drop(df.index[df["Borough"] == 'Not assigned '], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)

  Postal Code            Borough                                 Neighbourhood
0        M3A         North York                                     Parkwoods
1        M4A         North York                              Victoria Village
2        M5A   Downtown Toronto                     Regent Park, Harbourfront
3        M6A         North York              Lawrence Manor, Lawrence Heights
4        M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government
5        M9A          Etobicoke       Islington Avenue, Humber Valley Village
6        M1B        Scarborough                                Malvern, Rouge
7        M3B         North York                                     Don Mills
8        M4B          East York               Parkview Hill, Woodbine Gardens
9        M5B   Downtown Toronto                      Garden District, Ryerson

In [70]:
df['Neighbourhood'].unique()

array([' ', 'Malvern, Rouge ', 'Rouge Hill, Port Union, Highland Creek ',
       'Guildwood, Morningside, West Hill ', 'Woburn ', 'Cedarbrae ',
       'Scarborough Village ',
       'Kennedy Park, Ionview, East Birchmount Park ',
       'Golden Mile, Clairlea, Oakridge ',
       'Cliffside, Cliffcrest, Scarborough Village West ',
       'Birch Cliff, Cliffside West ',
       'Dorset Park, Wexford Heights, Scarborough Town Centre ',
       'Wexford, Maryvale ', 'Agincourt ',
       "Clarks Corners, Tam O'Shanter, Sullivan ",
       "Milliken, Agincourt North, Steeles East, L'Amoreaux East ",
       "Steeles West, L'Amoreaux West ", 'Upper Rouge ',
       'Hillcrest Village ', 'Fairview, Henry Farm, Oriole ',
       'Bayview Village ', 'York Mills, Silver Hills ',
       'Willowdale, Newtonbrook ', 'Willowdale, Willowdale East ',
       'York Mills West ', 'Willowdale, Willowdale West ', 'Parkwoods ',
       'Don Mills ', 'Bathurst Manor, Wilson Heights, Downsview North ',
       'Northwood Park, York University ', 'Downsview ',
       'Victoria Village ', 'Parkview Hill, Woodbine Gardens ',
       'Woodbine Heights ', 'The Beaches ', 'Leaside ',
       'Thorncliffe Park ',
       'East Toronto, Broadview North (Old East York) ',
       'The Danforth West, Riverdale ', 'India Bazaar, The Beaches West ',
       'Studio District ', 'Lawrence Park ', 'Davisville North ',
       'North Toronto West,  Lawrence Park ', 'Davisville ',
       'Moore Park, Summerhill East ',
       'Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park ',
       'Rosedale ', 'St. James Town, Cabbagetown ',
       'Church and Wellesley ', 'Regent Park, Harbourfront ',
       'Garden District, Ryerson ', 'St. James Town ', 'Berczy Park ',
       'Central Bay Street ', 'Richmond, Adelaide, King ',
       'Harbourfront East, Union Station, Toronto Islands ',
       'Toronto Dominion Centre, Design Exchange ',
       'Commerce Court, Victoria Hotel ',
       'Bedford Park, Lawrence Manor East ', 'Roselawn ',
       'Forest Hill North & West, Forest Hill Road Park ',
       'The Annex, North Midtown, Yorkville ',
       'University of Toronto, Harbord ',
       'Kensington Market, Chinatown, Grange Park ',
       'CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport ',
       'Stn A PO Boxes ', 'First Canadian Place, Underground city ',
       'Lawrence Manor, Lawrence Heights ', 'Glencairn ',
       'Humewood-Cedarvale ', 'Caledonia-Fairbanks ', 'Christie ',
       'Dufferin, Dovercourt Village ', 'Little Portugal, Trinity ',
       'Brockton, Parkdale Village, Exhibition Place ',
       'North Park, Maple Leaf Park, Upwood Park ',
       'Del Ray, Mount Dennis, Keelsdale and Silverthorn ',
       'Runnymede, The Junction North ', 'High Park, The Junction South ',
       'Parkdale, Roncesvalles ', 'Runnymede, Swansea ',
       "Queen's Park, Ontario Provincial Government ",
       'Canada Post Gateway Processing Centre ',
       'Business reply mail Processing Centre, South Central Letter Processing Plant Toronto ',
       'New Toronto, Mimico South, Humber Bay Shores ',
       'Alderwood, Long Branch ',
       'The Kingsway, Montgomery Road, Old Mill North ',
       "Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East ",
       'Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West ',
       'Islington Avenue, Humber Valley Village ',
       'West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale ',
       'Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood ',
       'Humber Summit ', 'Humberlea, Emery ', 'Weston ', 'Westmount ',
       'Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens ',
       'South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens ',
       'Northwest, West Humber - Clairville '], dtype=object)

#### Combining Neighbourhoods based on similar Postcode and Borough

In [69]:
df = df.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postal Code','Borough','Neighbourhood']
df.head(10)

,Postal Code,Borough,Neighbourhood
0,,Canadian postal codes,
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
5,M1H,Scarborough,Cedarbrae
6,M1J,Scarborough,Scarborough Village
7,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
8,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge"
9,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West"

In [86]:
df.drop(df.index[df['Borough'] == 'Canadian postal codes'], inplace = True)

#### Removing any space in the start of the string

In [87]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

In [88]:
df.sample(5)

,Postal Code,Borough,Neighbourhood
98,M9M,North York,"Humberlea, Emery"
86,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
61,M5K,Downtown Toronto,"Toronto Dominion Centre, Design Exchange"
67,M5S,Downtown Toronto,"University of Toronto, Harbord"
89,M8V,Etobicoke,"New Toronto, Mimico South, Humber Bay Shores"

In [89]:
df[df['Borough'] == 'Queen\'s Park']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [90]:
df['Neighbourhood'].unique

<bound method Series.unique of 0
1                                         Malvern, Rouge
2                 Rouge Hill, Port Union, Highland Creek
3                      Guildwood, Morningside, West Hill
4                                                 Woburn
5                                              Cedarbrae
6                                    Scarborough Village
7            Kennedy Park, Ionview, East Birchmount Park
8                        Golden Mile, Clairlea, Oakridge
9        Cliffside, Cliffcrest, Scarborough Village West
10                           Birch Cliff, Cliffside West
11     Dorset Park, Wexford Heights, Scarborough Town...
12                                     Wexford, Maryvale
13                                             Agincourt
14               Clarks Corners, Tam O'Shanter, Sullivan
15     Milliken, Agincourt North, Steeles East, L'Amo...
16                         Steeles West, L'Amoreaux West
17                                           Upper Rouge
18                                     Hillcrest Village
19                          Fairview, Henry Farm, Oriole
20                                       Bayview Village
21                              York Mills, Silver Hills
22                               Willowdale, Newtonbrook
23                           Willowdale, Willowdale East
24                                       York Mills West
25                           Willowdale, Willowdale West
26                                             Parkwoods
27                                             Don Mills
28                                             Don Mills
29       Bathurst Manor, Wilson Heights, Downsview North
                             ...
74                                    Humewood-Cedarvale
75                                   Caledonia-Fairbanks
76                                              Christie
77                          Dufferin, Dovercourt Village
78                              Little Portugal, Trinity
79          Brockton, Parkdale Village, Exhibition Place
80              North Park, Maple Leaf Park, Upwood Park
81      Del Ray, Mount Dennis, Keelsdale and Silverthorn
82                         Runnymede, The Junction North
83                         High Park, The Junction South
84                                Parkdale, Roncesvalles
85                                    Runnymede, Swansea
86           Queen's Park, Ontario Provincial Government
87                 Canada Post Gateway Processing Centre
88     Business reply mail Processing Centre, South C...
89          New Toronto, Mimico South, Humber Bay Shores
90                                Alderwood, Long Branch
91         The Kingsway, Montgomery Road, Old Mill North
92     Old Mill South, King's Mill Park, Sunnylea, Hu...
93     Mimico NW, The Queensway West, South of Bloor,...
94               Islington Avenue, Humber Valley Village
95     West Deane Park, Princess Gardens, Martin Grov...
96     Eringate, Bloordale Gardens, Old Burnhamthorpe...
97                                         Humber Summit
98                                      Humberlea, Emery
99                                                Weston
100                                            Westmount
101    Kingsview Village, St. Phillips, Martin Grove ...
102    South Steeles, Silverstone, Humbergate, Jamest...
103                  Northwest, West Humber - Clairville
Name: Neighbourhood, Length: 104, dtype: object>

In [91]:
df_neigh = df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood']

In [92]:
df_neigh

Series([], Name: Neighbourhood, dtype: object)

In [93]:
df_neigh = df.loc[df['Neighbourhood'] == 'Not assigned']

In [94]:
df_neigh

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

#### Assigning Borough values to the Neignbourhood where vlaue is "Not assigned"

In [95]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [96]:
# Check if the Neighbourhood for Queen's Park changed 
df[df['Borough'] == 'Queen\'s Park']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [97]:
# Check the shape of the data frame
df.shape

(104, 3)